body{

  font-family: 'Yeseva One', cursive;
  
}

h1{
  font-size: 50px;
  padding-left: 7%;
  padding-top: 4%;
  line-height: 50%;
}
.head-color{
  color: #FFAD5A;
}
.title-div{
  height: 160px;
  width: 520px;
  border-left: 4px solid #FF5959;
  border-radius: 1px;
 
}

#robo-font{

  font-family: 'roboto', light;
}
section{
  display: flex;
}
.half-width{
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.half-width img{
  width: 63%;
  padding-top: 10%;
  padding-left: 15%;
}
.first-button{
  text-decoration: none;
  color: white;
  background-color: #FF5959;
  font-family: 'roboto',regular;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}